.layoutcenter{
	width: 90%;
	height: 700px;
	background-color: bisque;
	margin: auto;
}
.noidung{
	width: 75%;
	height: 100%;
	float: left;
	background-color: lavender;
}
.thongbao{
	width: 25%;
	height: 100%;
	float: right;
	background-color: steelblue;
}