*{
	font-family: "Times New Roman", Times, serif;
}
.noidung-tin-qt-0{
	float: left;
	width: 78%;
	height: auto;
	
}
.noidung-tin-qt{
	float: left;
	width: 100%;
	height: auto;
}
.hien-noidung-tin-qt{
	width: 100%;
}
.table-td-1{
	width: 90%;
}
.table-td-2{
}
.noidung-tin-qt td{
	padding-left: 20px;
}
.noidung-tin-qt a{
	text-decoration: none;
}
.chu-noidung-bt-2{
 	width: 90%;
 	padding-left: 20px; 	
 	height: auto;
 	font-size: 26px;
}
.div-tieude-suatin{
	display: none; 
	padding-top: 10px;
}
.table-suatin{
	font-size: 26px;
	padding-bottom: 10px;

}
.table-suatin textarea{
	font-family: "Times New Roman", Times, serif;
	font-size: 23px;
	width: 100%;
}
.table-suatin tr{
	height: 50px;

}
.table-suatin tr:hover{
	background-color: lightgoldenrodyellow;
	border: 1px solid black;
}
.table-suatin th{
	width: 15%;
	padding-right: 2%;
	border: 1px solid black;
}
.table-suatin td{
	padding-bottom: 20px;
	border: 1px solid black;

}
.table-nut-td{
	text-align: center;
	height: 40px;
}
.table-nut-td input{
	width: 20%;
	height: 40px;
	font-size: 26px;
	background-color: #99ffcc;
	text-align: center;
}
.kichthuoc-img-sua{
	width: 50%;
	height: 40%;
	margin: auto;
}
.kichthuoc-img-chitiet{
	width: 40%;
	height: 50%;
}
